/* 헤더부분 시작  🔻*/
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    height: 60px;
    margin: 0 auto;
    z-index: 998;
}
.header > a, .lastheader, .lastheader > ul{
    display: flex;
}

.header > a{
    width: 180px;
    height: 50px;
    border: 2px solid #fee500;
    border-radius: 10px;
}
.header > a > div:nth-of-type(1){
    padding: 5px 0 5px 8px;
    width: 130px;
}
.phoneicon{
    background: url('../icons/phone.svg') no-repeat center / cover;
    width: 50px;
    height: 50px;
    background-color: #fee500;
    border-radius: 10px;
    margin-left: 5px;
}

.lastheader{
    width: calc(100%-400px);
    /* 🔴400px = 전화180px + 769폭에서의 제목의 폭200px🔴*/
}
.lastheader > ul{
    display: flex;
    align-items: end;
    height: 60px;
}
.lastheader > ul > li+li{
    margin-left: 20px;
}
.lastheader > ul > li:nth-of-type(2) > ol{
    transition: 0.5s;
}
.lastheader > ul:hover > li:nth-of-type(2) > ol{
    display: block;
}
.lastheader > ul > li > a > p{
    color: #858585;
    transition: 0.3s;
}
.lastheader > ul > li:hover > a > p{
    color: white;
}
.lastheader > ul:hover > li:nth-of-type(2){
    cursor: pointer;
}

.submenu{
    position: relative;
}
.submenu > ol{
    display: none;
    position: absolute;
    padding-top: 10px;
    left: -50%;
    top: 100%;
}
.submenu > ol > li{
    width: 170px;
    height: 40px;
    text-align: center;
    background-color: black;
    border-bottom: 1px solid #858585;
    padding: 5px;
}
.submenu > ol > li+li{
    margin-top: 5px;
}
.submenu > ol > li:hover{
    border-bottom: 1px solid white;
    transition: 0.3s;
    cursor: pointer;
}
/* 헤더부분 끝 🔺*/
/* 768이하에서 나오는 햄버거매뉴관련 시작 🔻*/
.littleBox > div{
    display: none;
    border: 3px solid #858585;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    position: relative;
    cursor: pointer;
    margin-right: 10px;
}
.littleBox > div:after{
    content: "";
    position: absolute;
    border-bottom: 3px solid #858585;
    border-top: 3px solid #858585;
    width: 20px;
    height: 15px;
    left: 50%;
    top: 25%;
    transform: translate(-50%,-3px);
}
.littleBox > div:before{
    content: "";
    position: absolute;
    border-bottom: 3px solid #858585;
    width: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-3px);
}
.boxlist{
    display: none;
    position: absolute;
    right: 20px;
    top: 120%;
    width: 180px;
    background-color: black;
    padding: 5px;
    z-index: 999;
}
.boxlist > li{
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 35px;
    background-color: black;
    border-bottom: 1px solid white;
    cursor: pointer;
}
.boxlist > li+li{
    margin-top: 5px;
}
/* 768이하에서 나오는 햄버거매뉴관련 끝 🔺*/

/* 하단 고정 버튼 시작 🔻 */
.gotop > div{
    position: fixed;
    display: flex;
    justify-content: space-between;
    right: 20px;
    bottom: 20px;
    width: max-content;
    height: 50px;
    border-radius: 10px 10px 10px 10px;
    background-color: black;
    border: 0px solid #fee500;
    cursor: pointer;
    z-index: 999;
}
.gotop > div > div:last-of-type{
    background: url('../icons/gototop.svg') no-repeat center / cover;
    border-radius: 10px;
    background-color: #fee500;
    border: 2px solid #fee500;
    width: 50px;
    height: 50px;
}
.make{
    padding-left: 3px;
    cursor: pointer;
}
.gotop > div > a{
    line-height: 20px;
    border: 2px solid #fee500;
    border-radius: 10px;
    padding: 0 3px;
}
/* 하단 고정 버튼 끝 🔺*/

/*🔻웹폭에서 헤더 전용 폰트 시작🔻 - [h4, h5, h6, p, a, li] */
.submenu > ol > li{
    color: #858585;
    font-size: 16px;
}
.submenu > ol > li:hover{
    color: white;
    transition: 0.3s;
}
.header h4{
    font-size: 2.2vw;
    font-weight: 300;
    line-height: 60px;
}
.header h5{
    font-size: 16px;
    font-weight: 500;
}
.header h6{
    font-size: 14px;
    font-weight: 300;
}
.header p{
    font-size: 18px;
    font-weight: 200;
}
.header a{
    color: #858585;
}
.make{
    font-size: 14px;
    font-weight: 900;
    line-height: 50px;
    text-align: center;
    color: white;
}
/* 🔺웹폭에서 헤더 전용 폰트 끝🔺 - [h4, h5, h6, p, a, li] */

/* (360 / 390 / 428 /  768) */
@media(max-width:768px){  
    .container{
        width: 100%;
    }
    .lastheader > ul{
        display: none;
    }
    .littleBox > div{
        display: block;
    }
   /* 🔻헤더 전용 폰트 시작🔻 - [h4, h5, h6, p, a, li] */ 
    .header > a{
        margin-left: 20px;
    }
    .header > div > h4{
        font-size: 3.5vw;
    }
    /* 🔺헤더 전용 폰트 끝 🔺- [h4, h5, h6, p, a, li] */

}

@media(max-width:428px){
    /* 🔻헤더 전용 폰트 시작🔻 - [h4, h5, h6, p, a, li] */ 
    .header > div > h4{
        line-height: 25px;
        text-align: center;
        font-size: 4vw;
    }
    /* 🔺헤더 전용 폰트 끝🔺 - [h4, h5, h6, p, a, li] */
}

/* (360 / 390 / 428 /  683) */
@media(max-width:390px){
    /* 🔻헤더 전용 폰트 시작🔻 - [h4, h5, h6, p, a, li] */ 
    .header > div > h4{
        font-size: 3.5vw;
    }
    /* 🔺헤더 전용 폰트 끝🔺 - [h4, h5, h6, p, a, li] */
}

/* (360 / 390 / 428 /  683) */
@media(max-width:360px){
    /* 🔻헤더 전용 폰트 시작🔻 - [h4, h5, h6, p, a, li] */ 
    .header > div > h4{
        font-size: 3.3vw;
    }
    /* 🔺헤더 전용 폰트 끝🔺 - [h4, h5, h6, p, a, li] */
}