/* 🔻헤더의 페이지마다 다른부분 시작🔻*/
.gotop > div > a:nth-of-type(2){
    background-color: #fee500;
    color: black;
}
/* 🔺헤더의 페이지마다 다른부분 끝🔺*/

/* 🔻main의 공통부분 시작🔻*/
.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mainAll{
    border-bottom: 1px solid white;
    padding-bottom: 50px;
}
.container h3:last-of-type{
    padding-bottom: 15px;
}
.main-sec1 > div:nth-of-type(2), .main-sec2 > div:nth-of-type(2), .main-sec3 > div:nth-of-type(2), .main-sec5 > div:nth-of-type(2){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* 🔺main의 공통부분 끝🔺*/

/* 🔻[JavaScript연관] 자동사진 넘김관련 시작🔻 */
.slideshow-image{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.mySlidesA, .mySlidesB, .mySlidesC{
    display: flex;
    justify-content: center;
    align-items: center;
}
.slideshow-container{
    display: flex;
    justify-content: center;
    position: relative;
    margin: auto;
}
.fade{
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade{
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
/* 🔺[JavaScript연관] 자동사진 넘김관련 끝 🔺*/

/* 🔻[JavaScript연관] swiper사이트에서 붙여넣기 시작🔻 */
.my-swiper{
    width: 50%;
    height: 100vh;
}
.swiper-slide{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8vw;
}
.swiper{
    width: 30vw;
    height: 30vw;
    min-width: 300px;
    min-height: 450px;
    border: 1mm solid white;
    margin: 30px auto 30px;
    border-radius: 10px;
}
.swiper-slide{
    text-align: center;
    font-size: 18px;
    background: #020202;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-slide img{
    display: block;
    width: 25vw;
    height: 25vw;
    min-width: 280px;
    min-height: 380px;
    object-fit: cover;
}
.swiper-pagination-bullet{
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: white;
    opacity: 1;
    border: 1px solid ;
    background: rgba(0, 0, 0, 0.2);
}
.swiper-pagination-bullet-active{
    color: #fff;
    background: #007aff;
}
.swiper-button-prev, .swiper-button-next{
    color: red;
    font-weight: 900;
}
/* 🔺[JavaScript연관] swiper사이트에서 붙여넣기 끝🔺 */

/* 🔻[JavaScript연관] active 관련 시작 🔻*/
.active1{
    background-color: #fee500;
    transition: 0.3s;
}
.active2{
    display: block;
}
.active3{
    display: none;
}
.active4{
    color: red;
}
.active5{
    color: #17b75e;
}
/* 🔺[JavaScript연관] active 관련 끝🔺 */







/* 🟡이미지 관련 공통 설정 시작🟡 */
/* 🔻main 전체 공통 - 한장씩,FLEX WRAP관련 사진설정 시작🔻 */
/* 🔻자동넘김 사진 설정 시작(페이지 수마다 A,B,C맞춰줘야함)🔻 */
/* ❗❗CSS뿐만 아니라 HTML과 JavaScript에서도 A,B,C가야함❗❗ */
.main-sec-pic{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
.main-sec1 > img, .main-sec-pic > div > img, .mySlidesA img, .mySlidesB img, .mySlidesC img{
    width: 60vw;
    height: 60vw;
    min-width: 300px;
    min-height: 300px;
    max-width: 450px;
    max-height: 450px;
    border: 1px solid white;
    border-radius: 10px;
}
@media(max-width:768px){  
    .main-container{
        display: flex;
        justify-content: start;
        align-items: start;
        padding-left: 10px;
    }
    .main-sec-pic{
        display: flex;
        justify-content: start;
        align-items: start;
        padding-left: 10px;
    }
    .main-sec1 > img, .main-sec-pic > div > img, .mySlidesA img, .mySlidesB img, .mySlidesC img{
        width: 90vw;
        height: 90vw;
        min-width: 280px;
        min-height: 280px;
        max-width: 550px;
        max-height: 550px;
        border: 1px solid white;
        border-radius: 10px;
    }
}
/* 🔺main 전체 공통 - 한장씩,FLEX WRAP관련 사진설정 끝🔺 */
/* 🔺자동넘김 사진 설정 끝(페이지마다 A,B,C맞춰줘야함)🔺 */

/* 🔻swiper 사진 설정 시작(페이지 수마다 A,B,C필요없음)🔻 */
/* ❗❗CSS뿐만 아니라 HTML과 JavaScript에서도 A,B,C필요없음❗❗ */


/* 🔺swiper 사진 설정 시작(페이지 수마다 A,B,C필요없음)🔺 */
/* 🟡이미지 관련 공통 설정 끝🟡 */



/* 🟡SECTION 마다 이미지 설정 시작🟡 */
.main-sec1 > img{
    margin: 15px 0;
}
/* 🟡SECTION 마다 이미지 설정 시작🟡 */







/* 🟡SECTION 마다 폰트설정 시작 -[h1, h2, h3,]🟡 */
/* ❗❗CSS는 순차적용이니 공통먼저 설정후 아래에 SECTION별 변경❗❗ */
main h1{
    font-size: calc(26px + 1.4vw);
    font-weight: 500;
    padding-top: 60px;
    margin-bottom: 15px;
    color: #fff;
}
main h2, main a{
    font-size: calc(16px + 1.2vw);
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #858585;
}
main h3{
    font-size: calc(16px + 0.9vw);
    font-weight: 300;
    margin-top: 8px;
    color: #f5f5f7;
}
.main-sec5 > h1{
    font-size: calc(22px + 1.3vw);
    padding-top: 30px;
}

.mainAll{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.table1{
    border: 3px solid rgb(255, 255, 255);
    color: white;
    width: 90%;
    font-weight: 100;
}
.table1 th{
    border: 3px solid rgb(255, 255, 255);
    font-size: calc(13px+0.4vw);
    text-align: center; 
    padding: 20px 0; 
    font-weight: 100;
    word-break: keep-all;
}


/* 🟡SECTION 마다 폰트설정 끝 -[h1, h2, h3,]🟡 */

/* (360 / 390 / 428 /  768) */
@media(max-width:768px){  
    main h1{
        font-size: calc(20px + 1.4vw);
        font-weight: 400;
    }
    main h2, main a{
        font-size: calc(16px + 1.2vw);
        font-weight: 300;
    }
    main h3{
        font-size: calc(12px + 0.9vw);
        font-weight: 200;
    }
    .main-sec5 > h1{
        font-size: calc(20px + 1.2vw);
        padding-top: 30px;
    }
}

@media(max-width:620px){
}

@media(max-width:428px){
    main h1{
        font-size: calc(18px + 1.3vw);
        font-weight: 300;
    }
    main h2, main a{
        font-size: calc(16px + 1.0vw);
        font-weight: 300;
    }
    main h3{
        font-size: calc(12px + 0.8vw);
        font-weight: 200;
    }
    .main-sec5 > h1{
        font-size: calc(16px + 0.7vw);
        padding-top: 30px;
    }
}
   

/* (360 / 390 / 428 /  683) */
@media(max-width:390px){
    main h1{
        font-size: calc(16px + 1.4vw);
        font-weight: 300;
    }
    main h2, main a{
        font-size: calc(14px + 0.8vw);
        font-weight: 300;
    }
    main h3{
        font-size: calc(11px + 0.8vw);
        font-weight: 200;
    }
    .main-sec5 > h1{
        font-size: calc(14px + 0.7vw);
        padding-top: 30px;
    }
    .table2{
        width: 330px;
        margin: 0;
    }
    .table2 td{
        font-size: 14px;
        padding: 5px;
    }
    .table2 th{
        font-size: 16px;
        padding: 5px;
    }

}

/* (360 / 390 / 428 /  683) */
@media(max-width:360px){
    main h1{
        font-size: calc(15px + 1.4vw);
        font-weight: 200;
    }
    main h2, main a{
        font-size: calc(13px + 0.7vw);
        font-weight: 200;
    }
    main h3{
        font-size: calc(10px + 0.8vw);
        font-weight: 100;
    }
    .main-sec5 > h1{
        font-size: calc(13px + 0.7vw);
        padding-top: 30px;
    }
    .table2{
        width: 320px;
        margin: 0;
    }
    .table2 td{
        font-size: 14px;
        padding: 5px;
    }
    .table2 th{
        font-size: 16px;
        padding: 5px;
    }
}