.gotop > div > a{
    margin-left: 10px;
}

/* main의 공통부분 시작*/
.mainAll{
    padding-bottom: 50px;
}
.main-container{
    display: flex;
    flex-direction: column;
}
/* main의 공통부분 끝*/

/* main section 6번 css 시작 */
.main-sec6{
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid white;
    margin: 50px auto;
    padding-bottom: 50px;
    border-bottom: 1px solid white;
}
.main-sec6 > h1, .main-sec1 > h1 {
    font-size: 4vw;
    margin: 30px 0;
}
.main-sec6 h4, .main-sec1 h4{
    font-size: 2.2vw;
    line-height: 4vw;
    margin-top: 30px;
    padding-left: 10px;
}
.main-sec6 p, .main-sec1 p{
    font-size: 1.8vw;
    line-height: 3vw;
    padding-left: 30px;
}

.main-sec6 > div:first-of-type > div:first-of-type > p{
    color: rgb(255, 108, 0);
}

.table1{
    border: 3px solid rgb(255, 255, 255);
    color: white;
    width: 90%;
    font-weight: 300;
    margin: 20px 0 0 50px;
    word-break: keep-all;
}
.table1 td{
    border: 3px solid rgb(255, 255, 255);
    font-size: 17px;
    padding: 20px;
    text-align: center;
    font-weight: 300;
    word-break: keep-all;
}
.table1 th{
    border: 3px solid rgb(255, 255, 255);
    font-size: 20px;
    padding: 20px;
    text-align: center;  
    font-weight: 300;
    word-break: keep-all;
}
.table2{
    display: none;
}
.table2{
    border: 1px solid rgb(255, 255, 255);
    color: white;
    width: 90%;
    font-weight: 300;
    margin: 20px 0 0 5px;
    word-break: keep-all;
}
.table2 td{
    border: 1px solid rgb(255, 255, 255);
    font-size: 14px;
    padding: 20px;
    text-align: center;
    font-weight: 300;
    word-break: keep-all;
}
.table2 th{
    border: 1px solid rgb(255, 255, 255);
    font-size: 16px;
    padding: 20px;
    text-align: center;  
    font-weight: 300;
    word-break: keep-all;
}
/* main section 6번 CSS 끝*/
.main-sec1 img{
    display: block;
    border: 3px solid #fee500;
    border-radius: 20px;
    width: 75vw;
    height: 65vw;
    margin: 4vw auto;
}

/* active 관련 시작 */
.active1{
    background-color: #fee500;
    transition: 0.3s;
}
.active2{
    display: block;
}
.active3{
    display: none;
}
.active4{
    color: red;
    transition: 0.3s;
}
.active5{
    color: #17b75e;
    transition: 0.3s;
}
/* active 관련 끝 */

/* 에시의 효과 관련 */
.main-sec1 > div:last-of-type > div > p{
    display: inline-block;
    font-size: 15px;
    margin: 50px;
}
.act1{
    color: red;
}
.act2{
    color: transparent;
}
.act3{
    width: max-content;
    background-color: yellow;
    color: black
}
.act4{
    width: max-content;
    transform: scale(1.5);
}
.act5{
    transform: translateX(100px);
}
/* 에시의 효과 관련 */


/* (360 / 390 / 428 /  768) */
@media(max-width:768px){  
    .main-sec6 > div{
        border: 0mm solid #75a66d;
        padding: 15px;
    }
    .main-sec6 > h1, .main-sec1 > h1 {
        font-size: 6vw;
        margin: 20px 0;
    }
    .main-sec6 h4, .main-sec1 h4{
        font-size: 3.5vw;
        line-height: 5vw;
        margin-top: 30px;
        padding-left: 5px;
    }
    .main-sec6 p, .main-sec1 p{
        font-size: 2.5vw;
        line-height: 3.5vw;
        padding-left: 15px;
    }
}

@media(max-width:620px){
    .table1{
        display: none;
    }
    .table2{
        display: block;
    }
}

@media(max-width:428px){

}

/* (360 / 390 / 428 /  683) */
@media(max-width:390px){
    .table2{
        width: 330px;
        margin: 0;
    }
    .table2 td{
        font-size: 14px;
        padding: 5px;
    }
    .table2 th{
        font-size: 16px;
        padding: 5px;
    }
}

/* (360 / 390 / 428 /  683) */
@media(max-width:360px){
    .table2{
        width: 320px;
        margin: 0;
    }
    .table2 td{
        font-size: 14px;
        padding: 5px;
    }
    .table2 th{
        font-size: 16px;
        padding: 5px;
    }
}