.gotop > div > a{
    margin-left: 10px;
}

/* main의 공통부분 시작*/
.mainAll{
    padding-bottom: 50px;
}
.main-container{
    display: flex;
    flex-direction: column;
}
/* main의 공통부분 끝*/

/* main section 6번 css 시작 */
.main-sec6{
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid white;
    margin: 50px auto;
    padding-bottom: 50px;
    border-bottom: 1px solid white;
}
.main-sec6 > h1, .main-sec1 > h1 {
    font-size: calc(26px + 1.4vw);
    margin: 30px 0;
}
.main-sec6 h4, .main-sec1 h4{
    font-size: calc(18px + 1.5vw);
    line-height: 50px;
    margin-top: 30px;
    padding-left: 10px;
}
.main-sec6 p, .main-sec1 p{
    font-size: calc(16px + 0.9vw);
    line-height: 40px;
    padding-left: 30px;
}

.main-sec6 > div:first-of-type > div:first-of-type > p{
    color: rgb(255, 108, 0);
}

.table1{
    border: 3px solid rgb(255, 255, 255);
    color: white;
    width: 90%;
    font-weight: 300;
    margin: 20px 0 0 50px;
    word-break: keep-all;
}
.table1 td{
    border: 3px solid rgb(255, 255, 255);
    font-size: 17px;
    padding: 20px;
    text-align: center;
    font-weight: 300;
    word-break: keep-all;
}
.table1 th{
    border: 3px solid rgb(255, 255, 255);
    font-size: 20px;
    padding: 20px;
    text-align: center;  
    font-weight: 300;
    word-break: keep-all;
}
.table2{
    display: none;
}
.table2{
    border: 1px solid rgb(255, 255, 255);
    color: white;
    width: 90%;
    font-weight: 300;
    margin: 20px 0 0 5px;
    word-break: keep-all;
}
.table2 td{
    border: 1px solid rgb(255, 255, 255);
    font-size: 14px;
    padding: 20px;
    text-align: center;
    font-weight: 300;
    word-break: keep-all;
}
.table2 th{
    border: 1px solid rgb(255, 255, 255);
    font-size: 16px;
    padding: 20px;
    text-align: center;  
    font-weight: 300;
    word-break: keep-all;
}
/* main section 6번 CSS 끝*/
.main-sec1 > div:nth-of-type(1) > img, .main-sec1 > div:nth-of-type(2) > img{
    display: block;
    border: 3px solid #fee500;
    border-radius: 20px;
    width: 75vw;
    height: 65vw;
    margin: 4vw auto;
}
.main-sec1 > div:nth-of-type(5) > img{
    border: 2px solid #fee500;
    border-radius: 10px;
}
.main-sec1 > div:nth-of-type(5) > div > img{
    border: 2px solid #fee500;
    border-radius: 10px;
}
.main-sec1 > div:nth-of-type(5){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* active 관련 시작 */
.active1{
    background-color: #fee500;
    transition: 0.3s;
}
.active2{
    display: block;
}
.active3{
    display: none;
}
.active4{
    color: red;
    transition: 0.3s;
}
.active5{
    color: #17b75e;
    transition: 0.3s;
}
/* active 관련 끝 */

/* 에시의 효과 관련 */
.main-sec1 > div:last-of-type > p{
    display: block;

    font-size: 15px;
    margin: 50px;
}
.act1{
    color: red;
}
.act2{
    color: transparent;
}
.act3{
    width: max-content;
    background-color: yellow;
    color: black
}
.act4{
    width: max-content;
    transform: scale(1.5);
}

/* 자동사진 넘김관련 */
.Slidesbackground {
    margin: 0;
    padding: 0;
}
.slideshow-image{
    border-radius:3%;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.mySlidesA{
    border-radius:3%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slideshow-container {
    display: flex;
    justify-content: center;
    position: relative;
    margin: auto;
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
.mySlidesA img{
    width: 300px;
    height: 3009x;
    border: 1px solid yellow;
    border-radius: 20px;
    margin-top: 20px;

}
/* 자동사진 넘김관련 */
/* swiper사이트에서 받아온 기능 */
.my-swiper{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: start;
    align-items: start;
}
.swiper-slide{
    display: flex;
    justify-content: start;
    align-items: start;
    font-size: 8vw;
}
.swiper{
    width: 300px;
    height: 300px;
    border: 1mm solid yellow;
    border-radius: 20px;
}
.swiper-slide{
    text-align: center;
    font-size: 18px;
    background: #020202;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-slide img{
    display: block;
    width: 250px;
    height: 250px;
    object-fit: cover;
}
.swiper-pagination-bullet{
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: white;
    opacity: 1;
    border: 1px solid ;
    background: rgba(0, 0, 0, 0.2);
}
.swiper-pagination-bullet-active{
    color: #fff;
    background: #007aff;
}
.swiper-button-prev, .swiper-button-next{
    color: red;
    font-weight: 900;
}
/* swiper사이트에서 받아온 기능 */
/* 에시의 효과 관련 */


/* (360 / 390 / 428 /  768) */
@media(max-width:768px){  
    .main-sec6 > div{
        border: 0mm solid #75a66d;
        padding: 15px;
    }
    .main-sec6 > h1, .main-sec1 > h1 {
        font-size: calc(26px + 1.4vw);
        margin: 20px 0;
    }
    .main-sec6 h4, .main-sec1 h4{
        font-size: calc(18px + 1.5vw);
        line-height: 45px;
        margin-top: 30px;
        padding-left: 5px;
    }
    .main-sec6 p, .main-sec1 p{
        font-size: calc(16px + 0.9vw);
        line-height: 35px;
        padding-left: 15px;
    }
}

@media(max-width:620px){
    .table1{
        display: none;
    }
    .table2{
        display: block;
    }
}

@media(max-width:428px){

}

/* (360 / 390 / 428 /  683) */
@media(max-width:390px){
    .table2{
        width: 330px;
        margin: 0;
    }
    .table2 td{
        font-size: 14px;
        padding: 5px;
    }
    .table2 th{
        font-size: 16px;
        padding: 5px;
    }
}

/* (360 / 390 / 428 /  683) */
@media(max-width:360px){
    .table2{
        width: 320px;
        margin: 0;
    }
    .table2 td{
        font-size: 14px;
        padding: 5px;
    }
    .table2 th{
        font-size: 16px;
        padding: 5px;
    }
}