/* 전체 공통 시작 */
.container{
    display: flex;
    width: 1320px;
    margin: 0 auto;
    background-color: black;
}
h1,h2,h3,h4,h5,h6,p,span,a{
    word-break: keep-all;
}
/* 전체 공통 끝 */

/* 헤더부분시작 */
header > section{
    height: 70px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: end;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    height: 50px;
    margin: 0 auto;
    z-index: 999;
}
.header > ul{
    display: flex;
    justify-content: space-between;
}
.header > ul > li+li{
    margin-left: 30px;
}
.header > ul > li:nth-of-type(2) > ol{
    transition: 0.5s;
}
.header > ul:hover > li:nth-of-type(2) > ol{
    display: block;
}
.header > ul > li > a > p{
    color: #858585;
    transition: 0.3s;
}
.header > ul > li:hover > a > p{
    color: white;
}

.onoffbut{
    width: 190px;
    position: relative;
    border: 1px solid #858585;
    color: #858585;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px;
    line-height: 30px;
    margin-left: 10px;
}
.onoffbut:hover{
    color: white;
    border: 3px solid white;
}
.business{
    position: absolute;
    left: -1%;
    top: 100%;
    display: none;
    flex-direction: column;
    width: 400px;
    height: 120px;
    padding: 10px;
    border: 2px solid rgb(255, 108, 0);
    background-color: #000;
    border-radius: 10px;
    z-index: 999;
    margin-left: 25px;
}
.business:hover{
    border: 2px solid #75a66d;
}

.business > a > h6{
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    margin-left: 15px;
}
.business > a > h6 > span{
    font-size: 22px;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    font-weight: 600;
    margin-left: 15px;
}
.headerh1{
    font-size: 32px;
    font-weight: 700;
    user-select: none;
    word-break: keep-all;
}
.header > ul > li > a > p{
    font-size: 20px;
    padding-bottom: 10px;
}

.littleBox > div{
    display: none;
    border: 3px solid #858585;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    position: relative;
    cursor: pointer;
}
.littleBox > div:after{
    content: "";
    position: absolute;
    border-bottom: 3px solid #858585;
    border-top: 3px solid #858585;
    width: 20px;
    height: 15px;
    left: 50%;
    top: 25%;
    transform: translate(-50%,-3px);
}
.littleBox > div:before{
    content: "";
    position: absolute;
    border-bottom: 3px solid #858585;
    width: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-3px);
}
.boxlist{
    display: none;
    position: absolute;
    right: 0;
    top: 120%;
    width: 120px;
    background-color: black;
    border-radius: 10px;
    padding: 5px;
    z-index: 999;
}
.boxlist > li{
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 35px;
    border: 1px solid white;
    box-shadow: 5px 5px 5px;
    border-radius: 10px;
    cursor: pointer;
}
.boxlist > li+li{
    margin-top: 5px;
}

.gotop > div{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    line-height: 30px;
    text-align: center;
    border-radius: 10px;
    background-color: white;
    border: 2px solid black;
    cursor: pointer;
    z-index: 999;
}
.gotop > div >div{
    background: url('../icons/gototop.svg') no-repeat center / cover;
    width: 30px;
    height: 30px;
}
.gotop > div >p{
    font-size: 20px;
}
.make{
    position: fixed;
    right: 68px;
    bottom: 20px;
    width: 120px;
    height: 50px;
    border: 5px dashed red;
    border-radius: 10px;
    background-color: white;
    color: black;
    font-size: 12px;
    font-weight: 900;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    z-index: 999;
}
/* 헤더부분 끝 */

/* main의 공통부분 시작*/
.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-container h1{
    font-size: 80px;
    padding-top: 80px;
    margin-bottom: 30px;
}
.main-container h3{
    font-size: 20px;
    color: #3396ff;
    margin-top: 10px;
}
.main-container h2{
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 30px;
    color: #858585;
}
/* main의 공통부분 끝*/

/* main section 6번 css 시작 */
.main-sec6{
    flex-direction: column;
    justify-content: center;
    margin: 100px auto;
}

.main-sec6 > div{
    border: 1mm solid #75a66d;
    padding: 30px;
}

.main-sec6 > h3{
    font-size: 50px;
    text-align: center;
    margin: 30px 0;
}
.main-sec6 > div> h4{
    text-align: left;
    font-size: 30px;
    margin: 20px 0 20px 40px;
}
.main-sec6 p{
    font-size: 20px;
    text-align: left;
    line-height: 40px;
    margin-left: 80px;
}
.main-sec6 > div > div> p{
    color: rgb(255, 108, 0);
}

.table1{
    border: 3px solid rgb(255, 255, 255);
    color: white;
    width: 1110px;
    font-weight: 300;
    margin: 20px 0 0 50px;
    word-break: keep-all;
}
.table1 td{
    border: 3px solid rgb(255, 255, 255);
    font-size: 17px;
    padding: 20px;
    text-align: center;
    font-weight: 300;
    word-break: keep-all;
}
.table1 th{
    border: 3px solid rgb(255, 255, 255);
    font-size: 20px;
    padding: 20px;
    text-align: center;  
    font-weight: 300;
    word-break: keep-all;
}
.table2{
    display: none;
}
.table2{
    border: 1px solid rgb(255, 255, 255);
    color: white;
    width: 360px;
    font-weight: 300;
    margin: 20px 0 0 5px;
    word-break: keep-all;
}
.table2 td{
    border: 1px solid rgb(255, 255, 255);
    font-size: 14px;
    padding: 20px;
    text-align: center;
    font-weight: 300;
    word-break: keep-all;
}
.table2 th{
    border: 1px solid rgb(255, 255, 255);
    font-size: 16px;
    padding: 20px;
    text-align: center;  
    font-weight: 300;
    word-break: keep-all;
}
/* main section 6번 CSS 끝*/

.main-sec1{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

}
.main-sec1 h2{
    margin-top: 100px;
}

/* 에시의 효과 관련 */
.main-sec1 p{
    font-size: 30px;
    margin: 50px;
}

.act1{
    color: red;
}
.act2{
    color: transparent;
}
.act3{
    width: max-content;
    background-color: yellow;
    color: black
}
.act4{
    width: max-content;
    transform: scale(1.5);
}
.act5{
    padding-left: 50px;
}




/* 에시의 효과 관련 */


footer{
    border-top: 1px solid #858585;
    color: white;
    padding: 50px 0 80px 80px;
}

.footer h5{
    font-size: 18px;
    margin-bottom: 10px;
}

.footer p{
    font-size: 14px;
    margin-bottom: 10px;
}

.footer span{
    display: inline-block;
    font-size: 14px;
    margin-bottom: 10px;
}
.footer a{
    font-size: 14px;
}





/* active 관련 시작 */
.active1{
    color: white;
    border: 3px solid white;
    transition: 0.3s;
}
.active11{
    background-color: white;
    color: white;
    transition: 0.3s;
}
.active2{
    display: flex;
    transition: 0.3s;
}
.active2:hover > h6 > a{
    color: red;
    transition: 0.3s;
}
.active3{
    color: red;
    transition: 0.3s;
}
.active4{
    display: block;
}
/* active 관련 끝 */


/* (360 / 390 / 428 /  683) */
@media(max-width:768px){
    .body{
        width: 100vw;
    }
    .container{
        width: 720px;
        max-width: 99%;
        height: auto;
    }
       
    .header > ul{
        display: none;
    }
    .littleBox > div{
        display: block;
    }
    .headerh1{
        font-size: 24px;
    }

    .onoffbut{
        width: 120px;
        height: 50px;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
    }
    .littleBox{
        margin-right: 10px;
        margin-left: 5px;
    }
    .business{
        left: -2%;
        top: 100%;
        width: 330px;
        height: 110px;
    }
    .business > a > h6{
        font-size: 16px;
        font-weight: 200;
        margin-left: 15px;
    }

    .main-sec1 h1{
        font-size: 50px;
        padding-top: 80px;
        margin-bottom: 30px;
    }
    .main-sec1 h2{
        font-size: 30px;
        margin-top: 20px;
        margin-bottom: 30px;
        margin-left: 10px;
    }
    .main-sec1 h3{
        font-size: 15px;
        margin-top: 15px;
        margin-left: 20px;
    }
    .main-sec1 p{
        font-size: 20px;
    }
    img{
        width: 650px;
        height: auto;
    }
    .main-container{
        align-items: start;
        margin-left: 10px;
    }

    .main-sec6 > div{
        border: 0mm solid #75a66d;
        padding: 15px;
    }
    .main-sec6 > h3{
        font-size: 40px;
        text-align: left;
        margin-left: 30px;

    }
    .main-sec6 > div> h4{
        font-size: 24px;
        margin-left: 0px;
    }
    .main-sec6 p{
        font-size: 20px;
        margin-left: 0px;
    }
    .table1{
        width: 670px;
    }
}

@media(max-width:428px){
    .body{
        width: 100vw;
    }
    .container{
        width: 427px;
    }
    .headerh1{
        font-size: 16px;
    }
    .littleBox{
        margin-left: 10px;
    }
    .littleBox > div{
        margin: 0 10px 0 0;
    }

    .main-sec1 h1{
        font-size: 28px;
        padding-top: 80px;
        margin-bottom: 30px;
    }
    .main-sec1 h2{
        font-size: 25px;
        margin-top: 20px;
        margin-bottom: 30px;
        margin-left: 10px;
    }
    .main-sec1 h3{
        font-size: 18px;
        margin-top: 15px;
        margin-left: 20px;
    }
    .main-sec1 p{
        font-size: 12px;
    }
    img{
        width: 400px;
        height: auto;
    }
    
    .main-sec6 > h3{
        font-size: 25px;
        margin: 30px 0;
    }
    .main-sec6 > div> h4{
        font-size: 20px;
        margin: 10px 0 10px 5px;
    }
    .main-sec6 p{
        font-size: 16px;
        margin-left: 5px;
    }

    .table1{
        display: none;
    }
    .table2{
        display: block;
    }

    .footer h5{
        font-size: 16px;
    }
    .footer p{
        font-size: 12px;
    }
    .footer span{
        font-size: 12px;
    }
    .footer a{
        font-size: 12px;
    }
    .footer >div:first-of-type{
        border-right: 1px solid white;
        padding-right: 10px;
    }
    .footer >div:last-of-type{

        padding-left: 5px;
    }
}

/* (360 / 390 / 428 /  683) */
@media(max-width:390px){
    .body{
        width: 100vw;
    }
    .container{
        width: 389px;
    }
    .headerh1{
        font-size: 16px;
    }
    .header p{
        font-size: 12px;
    }
    .onoffbut{
        width: 100px;
        justify-content: center;
        text-align: center;
    }

    .main-sec1 h1{
        font-size: 25px;
        padding-top: 80px;
        margin-bottom: 30px;
    }
    .main-sec1 h2{
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 30px;
        margin-left: 5px;
    }
    .main-sec1 h3{
        font-size: 15px;
        margin-top: 15px;
        margin-left: 10px;
    }
    .main-sec1 p{
        font-size: 10px;
    }
    img{
        width: 385px;
        height: auto;
    }
    .table2{
        width: 330px;
        margin: 0;
    }
    .table2 td{
        font-size: 14px;
        padding: 5px;
    }
    .table2 th{
        font-size: 16px;
        padding: 5px;
    }
}

/* (360 / 390 / 428 /  683) */
@media(max-width:360px){
    .body{
        width: 100vw;
    }
    .container{
        width: 359px;
    }
    .headerh1{
        font-size: 16px;
    }
    .onoffbut{
        width: 100px;
        justify-content: center;
        text-align: center;
    }
    .business{
        left: -5%;
        top: 110%;
        width: 330px;
    }
    .table2{
        width: 320px;
        margin: 0;
    }
    .table2 td{
        font-size: 14px;
        padding: 5px;
    }
    .table2 th{
        font-size: 16px;
        padding: 5px;
    }
    .main-sec1 h2{
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 30px;
        margin-left: 5px;
    }
    .main-sec1 h3{
        font-size: 15px;
        margin-top: 15px;
        margin-left: 10px;
    }
    .main-sec1 p{
        font-size: 10px;
    }
    img{
        width: 355px;
        height: auto;
    }
}